.header {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(284deg, #d1d1d1, #eeeeee);
  /* color: #fff; */
  margin-bottom: 1rem;
}
.header-logo{
width: 200px;
height: 100px;
object-fit: cover;

}


.header a {
  /* color: #fff; */
  text-decoration: none;
}

.header-title {
  font-size: 1.2rem;
  font-weight: normal;
}

.header-title::after {
  content: ' ▸ ';
  padding: 0 0.5rem;
}

.header-subtitle {
  font-size: 1.2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.search-panel {
  display: flex;
}

.search-panel__filters {
  flex: 1;
}

.search-panel__results {
  flex: 3;
  background-color: blue;
}

.hit-div{
  background-color: blueviolet;
}

.row-div{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.row-div-body{
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  background-color: blue;
  width: 100%;
}

.price-img {
  width: 40px;
  height: 50px;
  object-fit: cover;
}

.ais-Highlight-highlighted {
  color: inherit;
  font-size: inherit;
}

#searchbox {
  margin-bottom: 2rem;
}

#pagination {
  margin: 2rem auto;
  text-align: center;
}
/* .ais-Hits-list{
  background-color: blue;
}

.ais-Hits{
  background-color: blue;
} */

#refinementList{
  background-color: blue;
}


.ais-Hits-item{
  color: pink;
}

.ais-Hits-item article {
  display: flex;
  background-color: green;
}

.ais-Hits-item img {
  max-height: 125px;
  padding-right: 16px;
}
